html, body {
    height: 100%;
    margin: 0;
}
ul {
  list-style-type: none;
}
.content {
    height: 100%;
}
.left {
    position: fixed;
    float: left;
    width: 30%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}
.right {
    float: right;
    width: 70%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}

